<h2>Users</h2>
<i *ngIf="isLoading" class="fa fa-circle-o-notch fa-spin fa-3x"></i>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <th scope="row">{{ user.name }}</th>
            <td>{{ user.email }}</td>
            <td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            <td><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>
    </tbody>
</table>